<%- include("header") %>

<div>
    <h1>Workout History</h1>
</div>

<div>
    <% trainings.forEach(function(training){ %>
        <h2><%= training.bodyPart %></h2>
        <p><%= training.date %></p>
            <table>
                <th>Exercise</th>
                <th>Weight (lbs)</th>
                <th>Sets</th>
                <th>Reps</th>
                <% training.routines.forEach(function(exercise){ %>
                    <tr>
                        <td><%= exercise.workout %></td>
                        <td><%= exercise.weight %></td>
                        <td><%= exercise.sets %></td>
                        <td><%= exercise.reps %></td>
                    </tr>
                <% }); %>
            </table>
    <% }); %>
</div>

<%- include("footer") %> 