<%- include("header") %>

<div>
    <h1><%= muscleGroup %> Workout</h1>
    <p>
        <%= timeStamp %>
    </p>
</div>

<div>
    <table>
        <th>Exercise</th>
        <th>Weight (lbs)</th>
        <th>Sets</th>
        <th>Reps</th>
        
        <% exercises.forEach(function(exercise){ %>
            <tr>
                <td><%= exercise.workout %></td>
                <td><%= exercise.weight %></td>
                <td><%= exercise.sets %></td>
                <td><%= exercise.reps %></td>
            </tr>
        <% }); %>
        
    </table>
    
</div>

<div>
    <div class="container">
        <form action="/update" method="post">
            <label>Exercise:</label>
            <input name="exercise" type="text" />
            <div class="exercise-info-container">
                <div class="exercise-info">
                    <div>
                        <label>Weight (lbs):</label>
                        <input name="weight" type="number" />
                    </div>
                    
                    <div>
                        <label>Number of Set(s):</label>
                        <input name="sets" type="number" >
                    </div>
                    
                    <div>
                        <label>Number of Reps</label>
                        <input name="reps" type="number"/>
                    </div>
                    
                    <button type="submit">Log Exercise</button>
                    <input type="hidden" name="docId" value="<%=workoutId%>"/>
                </div>     
            </div>
        </form> 
    </div>
</div>

<div>
    <form action="/history" method="get">
        <button type="submit">Workout History</button>
    </form>
    
</div>

<%- include("footer") %> 