<%- include("header") %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div>
    <h1><%= muscleGroup %> Workout</h1>
    <p>
        <%= timeStamp %>
    </p>
</div>

<div>
    <div>
        <form action="/update" method="post">
            <p>Exercise:</p>
            <input name="exercise" placeholder="Squats"/>
            <div class="exercise-info-container">
                <div class="exercise-info">
                    <p>Weight (lbs):</p>
                    <input name="weight" type="number" placeholder="40"/>
                    <p>Number of Set(s):</p>
                    <input name="sets" type="number" placeholder="3">
                    <p>Number of Reps</p>
                    <input name="reps" type="number" placeholder="10"/>
                    <button type="submit">Exercise Completed</button>
                    <input type="hidden" name="docId" value="<%=workoutId%>"/>
                </div>     
            </div>
        </form> 
    </div>

    <div>
        <button class="add-info-entry">+</button>
    </div>

    <div>
        <button onclick="addExercise">Add Exercise</button>
    </div>
</div>

<div>
    <form action="/history" method="get">
        <button type="submit">Workout History</button>
    </form>
    
</div>

<script>
    $(".add-info-entry").click(function () {
        console.log("clicked");
        //clone last exercise info container and insert after last exercise info container to avoid doubling and remove values 
        $(".exercise-info-container:last").clone().insertAfter(".exercise-info-container:last").find("input[type='number']").val("");
    });

</script>

<%- include("footer") %> 